rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      // Permitir tudo temporariamente (apenas para desenvolvimento)
      allow read, write: if true;
    }
  }
}

